<h2>Notes about Homework Submissions</h2>

There will be regular (approximately <span style="font-weight: bold;">bi-weekly</span>)
assignments that will be posted on this webpage and announced via
email or in class. NYU Classes will <span style="font-weight: bold;">only</span>
be used for collecting files from students and grading. Assignments
may be posted before we have covered all the material, allowing you to
start working on some of the problems early.<br />
<br />
Here is an example ideal (you will <strong>not</strong> be held up to
this standard) solution of a variant of a problem from the first
homework on <a href="Assignments/SolutionSample.pdf">computing the first
derivative numerically</a>.<br />
<h3>Logistics</h3>
Please read and follow these rules carefully as we use automated
scripts to process the large number of files. Submissions that do not
conform (e.g., submitting PDF files directly instead of a zip archive)
<span style="font-weight: bold;">will be rejected</span> by the
graders.<br />
<ol>
<li>Submit a <span style="font-weight: bold;">PDF of your writeup</span>
  and <span style="font-weight: bold;">all of the source codes</span>.
  Put <span style="font-weight: bold;">all</span> files in a <span
    style="font-weight: bold;">zip archive</span>.</li>
<li>Submit <span style="font-weight: bold;">only</span> the archive
  file as a solution via <span style="font-weight: bold;">NYU
    Classes</span>. Make sure to complete the submission as
  otherwise we cannot access the file.</li>
<li>Homeworks must be submitted by <span style="font-weight: bold;">9am</span>
  on the morning <span style="font-weight: bold;">after</span> the
  listed <span style="font-weight: bold;">due date</span>. Late
  submissions will only be accepted if you send a justification to
  the instructor at least two days before the due date.</li>
<li>If you use any external source, even Wikipedia, make sure you
  acknowledge it by <span style="font-weight: bold;">referencing
    all help</span>. Group work is <b>discouraged</b>: you may
  discuss the problems with your colleagues but each student must do
  the actual programming and writeup <span style="font-weight: bold;">independently</span>.</li>
</ol>
<h4>Organize your files</h4>
<ol>
<li>Name files sensibly (e.g., not "A.m" or "script.m" but also not
  "Solution of Problem 1 by Me.m"). Include your name in the
  filename <span style="font-weight: bold;">and</span> in the text
  of the PDF writeup.</li>
<li>In general, one should be able to grade without looking at all
  the codes. The <span style="font-weight: bold;">reports should be
    mostly self-contained</span>, e.g., the figures should be
  included in the writeup along with legends, explanations,
  calculations, etc. <span style="font-weight: bold;">Do not
    include MATLAB codes in the writeup, only the results</span>.</li>
<li>Package the files so that the MATLAB codes can be run by us --
  do not put all the sources in one long text file, for example.
  Also, we do not need your tex, lyx, Word, svn files etc., only a
  PDF of the final product. Please <span style="font-weight: bold;">make
    it easy for us to find and examine the files quickly</span>.</li>
<li>If you are using Octave, <span style="font-weight: bold;">do
    not use double quotes for strings</span>, use single quotes
  instead for compatibility with MATLAB.</li>
<li>For pen-and-pencil problems you can submit hand-written
  solutions if you prefer.</li>
</ol>
<h4>Present your information effectively</h4>
<ol>
<li><span style="font-weight: bold;">Plot figures with thought and
    care!</span> For example, errors should be plotted on a
  logarithmic scale, not linear, so you can see it going down
  instead of flat lines. The plots should have axes labels, tick marks, and legends, and be <span
    style="font-weight: bold;">easy to understand at a glance</span>.</li>
<li>Export figures from Matlab or other plotting software to a 
<a href="https://en.wikipedia.org/wiki/Vector_graphics">scalable graphics format</a>
instead of raster graphics format in order to improve the quality and readability of the
figures in the PDF. In LaTex use PDF format with pdflatex.</li>
<li><span style="font-weight: bold;">A picture is worth a thousand
    words!</span> Instead of large tables, or printouts of Matlab
  matrices, make a plot. Do not submit pages of numbers unless there
  is a really good reason -- it is not an effective way to present
  the information.</li>
<li>However, a picture by itself is not enough! You must write a
  concise explanation of the figure, especially what you learn from
  the figure (think of <span style="font-weight: bold;">figure
    captions</span> in scientific papers).</li>
<li>If you do print things, <span style="font-weight: bold;">use
    fprintf</span> to format the output nicely instead of printing
  large matrices. Also use <span style="font-style: italic;">format
    compact</span> and other format commands to control how MATLAB
  prints things.</li>
</ol>
<h4>Quality over Quantity</h4>
<ol>
<li>You need to <strong>demonstrate</strong>, in addition to a code
  and plot, <b>that you understand</b> what the numerical problem
  is. For example, just reporting "error is smallest for h=\dots"
  without an explanation will not get full points. I do not expect
  theorems, but some understanding is crucial.</li>
<li>Do not substitute true understanding/exploration with trivial
  work: Solve a few problems well instead of handing in quarter
  solutions to all the problems. Demonstrate that you are
  intellectually-curious about the material.</li>
</ol>
<h3>Academic Integrity and Honesty</h3>
<a href="http://www.nyu.edu/about/policies-guidelines-compliance/policies-and-guidelines/academic-integrity-for-students-at-nyu.html">NYU academic integrity policies</a> will be strictly enforced for homework assignments.<br />
<ol>
<li>It is encouraged to <span style="font-weight: bold;">discuss</span>
  with other students the mathematical aspects, algorithmic
  strategy, code design, techniques for debugging, and compare
  results.</li>
<li>Each student must write the solutions independently. <span style="font-weight: bold;">Copying</span>
  of any portion of someone else's solution or allowing others to
  copy your solution is considered <span style="font-weight: bold;">cheating</span>.</li>
<li><span style="font-weight: bold;">Code sharing is not allowed.</span>
  You must type (or create from things you've typed using an editor,
  script, etc.) every character of code you use.</li>
<li>The assignments are meant to <span style="font-weight: bold;">challenge</span>
  you: It is not expected that you will get all of the points. If
  you spend more than 10-12 hours on an assignment consider talking
  to the instructor.</li>
</ol>
These rules not only ensure fairness but will also help you get the
most out of this course. Learning how to apply the methods we discuss
in class in practice is a critical part of this course and the main
component of your grade. Scientific programming can only be learned by
<span style="font-weight: bold;">doing</span> it. What programmers
call "debugging" is an integral part of programming. You type
something, and you think the code does something, but then you run and
it does not run or produces numbers that do not look right. You learn
by fixing it. It is a process that <span style="font-weight: bold;">cannot</span>
be replaced by examining someone else's code.
