 <h4>Textbook(s)</h4>
 <div style="text-align: justify;"> For lectures, I will use my own
   lecture slides (complemented by real-time tablet annotation) that will be posted
   here. I will not follow any specific textbook per se, however, you
   will need to complement the lectures and my slides with additional
   reading depending on your background. This will not only give you a broader perspective but it
   will also give you a <i>different perspective</i>, which is very
   important.<br />
   <br />
   As the <strong>primary textbook</strong> that I will point you to
   for additional reading, I recommend <a href="http://press.princeton.edu/titles/9763.html">Numerical
     Methods: Design, Analysis, and Computer Implementation of
     Algorithms</a> by Anne Greenbaum &amp; Timothy P. Chartier
   (library call number QA297.G15 2012). This book is available to you
   freely in <a href="https://ebookcentral.proquest.com/lib/nyulibrary-ebooks/detail.action?docID=867854">electronic
     format</a> via NYU's library (<a href="http://bobcat.library.nyu.edu/primo-explore/fulldisplay?docid=nyu_aleph006178957&amp;context=L&amp;vid=NYU&amp;search_scope=all&amp;isFrbr=true&amp;tab=all&amp;lang=en_US">permalink</a>).
   Codes can be found at the <a href="http://academics.davidson.edu/math/chartier/Numerical/">author's
     website</a>.<br />
   <br />
   A <strong>secondary optional textbook</strong> is <span dir="auto"><a
       href="https://my.siam.org/Store/Product/viewproduct/?ProductId=29215528">Fundamentals
       of numerical computation</a> by Tobin Driscoll (</span><span dir="auto"><span
       dir="auto"><span dir="auto">QA297.D75 2018)</span></span>, see <a
       href="https://github.com/tobydriscoll/fnc-extras">additional
       resources</a> including codes/slides in Matlab/Julia/Python.
     This book is not available freely but an electronic copy can be
     purchased via <a href="https://play.google.com/store/books/details/Tobin_A_Driscoll_Fundamentals_of_Numerical_Computa?id=W9JEDwAAQBAJ&amp;hl=en_US">google play</a> -- if you wish to purchase a hard copy use this <a href="DriscollBraunOT154_adoptiondicflyer.pdf">discount flier</a>. This textbook is very applied and hands on with Matlab and more elementary in some respects.</span>
   <br />     
   A more advanced text that is not a
   first textbook on numerical methods but has very nice case studies
   demonstrating applications of scientific computing in various
   disciplines can be found in the book <a href="http://www.cs.umd.edu/%7Eoleary/SCCS/">Scientific
     Computing with Case Studies</a> by Dianne P. O'Leary (library call
   number QA401.O44 2009), also available freely to you in <a href="https://epubs.siam.org/doi/book/10.1137/9780898717723">PDF
     format</a>. Additional case studies can be found <a href="http://www.cs.umd.edu/%7Eoleary/SCCS/supp/index.html">here</a>.<br />
   <br />
   Some of the lectures will be more closely based on a draft of a textbook <span style="font-style: italic;">Principles of
     Scientific Computing</span> by my colleagues Jonathan Goodman and
   David Bindel, to be found here as <a href="http://www.cs.nyu.edu/courses/spring09/G22.2112-001/book/book.pdf">
     one PDF</a> or as <a href="http://www.cs.nyu.edu/courses/spring09/G22.2112-001/lectures.html">
     individual chapters</a>. <br /> 
</div>

 <h4>Computing</h4>
 <div style="text-align: justify;"> Computing on your own will form an
   essential part of the learning process and your own applied
   mathematics training. Matlab is available to all NYU students via
   our <a href="https://www.nyu.edu/life/information-technology/getting-started/software/matlab.html">ITS
     software service</a>. You can install it on your personal laptop
   without a charge.</div>
 <div style="text-align: justify;"><br />
 </div>
 <div style="text-align: justify;">
   You are encouraged to submit reports as PDFs produced using LaTex
   (latex), as a good practice in learning how to use mathematical
   typesetting software for future papers and thesis reports. I
   recommend trying out the <a href="http://www.lyx.org/">LyX word
     processor</a> as a front-end GUI to LaTex, especially if you are
   new to LaTex.<br />
   <br />
   Also see these <a href="http://www.cs.nyu.edu/courses/spring09/G22.2112-001/refs.html">
     resources listed by my colleague David Bindell</a>. In particular,
   some <a href="http://www.cs.nyu.edu/courses/spring09/G22.2112-001/coding.html">
     coding advice</a> that may be useful in general.<br />
 </div>

 <h4>Matlab Resources</h4>
 <div style="text-align: justify;"> There are many free online materials that can be consulted as
   additional reading, depending on your background and interests. Here
   are some suggestions (more may be added as the course progresses)
   that you have special access to through the NYU/Courant library:<br />
 </div>
 <ol>
   <li style="text-align: justify;"><span style="font-style: italic;">Numerical
       Computing with MATLAB</span>, by Cleve Moler, available for free
     in PDF form at the <a href="http://www.mathworks.com/moler/index_ncm.html">MATLAB
       site</a>.</li>
   <li style="text-align: justify;">The <a href="http://www-h.eng.cam.ac.uk/help/tpl/programs/matlab.html">
       Cambridge Engineering guide to MATLAB</a> has lots of useful
     information.</li>
   <li style="text-align: justify;"><span style="font-style: italic;">An
       Introduction to Programming and Numerical Methods in MATLAB</span>,
     Stephen R. Otto &amp; James P. Denier, Springer, 2005, available
     in <a href="http://www.springerlink.com/content/978-1-85233-919-7/contents/">
       PDF format</a> through the library. This book provides an
     elementary introduction to Matlab with less focus on actual
     scientific computing.</li>
 </ol>
 Also see these <a href="http://www.cs.nyu.edu/courses/spring09/G22.2112-001/refs.html">
   resources listed by my colleague David Bindell</a>.

