This class will assume familiarity with Numerical Methods II, as taught in the Spring of 2021 by Leslie Greengard. A key textbook that you should have available and be comfortable with is "<a href="https://epubs.siam.org/doi/book/10.1137/1.9780898717839">Finite
Difference Methods for Ordinary and Partial Differential Equations</a>"
by Randy LeVeque. This textbook is now available freely to you in <a
href="https://epubs.siam.org/doi/book/10.1137/1.9780898717839">PDF
format</a>. 
<br />

The same author has also written the most detailed and
authorative textbook on high-resolution methods for hyperbolic
equations, "<a href="http://depts.washington.edu/clawpack/book.html">Finite
Volume Methods for Hyperbolic Problems</a>" by Randall J. Leveque. I will use this book for some of the material.
<br />

Much of my advection-diffusion Lectures will be based on this book that you can access electronically at Courant: 
Hundsdorfer, W., &amp; Verwer, J.G. (2003). <span style="font-style: italic;">Springer
  Series in Computational Mathematics</span> [Series, Vol. 33]. <a href="http://link.springer.com/book/10.1007/978-3-662-09017-6"
  style="font-style: italic;">Numerical Solution of Time-Dependent
  Advection-Diffusion-Reaction Equations</a>. New York, NY:
Springer-Verlag.<br />

<h3>Prerequisites</h3>

Familiarity with PDEs (advection, diffusion) at the level of an
advanced undergraduate class is a must. Foundations of methods for
solving ODEs and PDEs will be assumed: <br />
<ul>
<li> Forward and backward Euler method for ODEs, accuracy,
  stability, stiffness. <br />
</li>
<li> Basic multistep and Runge-Kutta schemes for ODEs. </li>
<li> Basic elliptic problems: Finite difference and finite element
  methods for the Poisson equations. Iterative methods for linear
  systems. </li>
<li> Basic parabolic problems: Heat equation, spatial
  discretization, explicit and implicit temporal discretization
  methods. von Neumann (Fourier mode) stability analysis, CFL
  numbers. </li>
<li> Basic hyperbolic problems: Advection equation, finite volume
  spatial discretization, method of lines, space-time methods. <br />
</li>
</ul>
For Courant students, this means having taken Numerical Methods II.
<br />
<br />
Basic familiarity with fluid dynamics, and an understanding of at
least the incompressible isothermal Navier-Stokes equations will be
assumed. For an in-depth but accessible introduction to fluid
dynamics, you may consult the <a href="http://www.math.nyu.edu/faculty/childres/fluidsbook.pdf">book
by my colleague Stephen Childress</a>. <br />

<h3>Assignments and grading</h3>

This is a seminar course and the focus will be on learning new things.
There will be several computational assignments / exercises during the
semester. Each student will be required to do a computational project
on a subject of choice, due at the end of the semester, and will
present it in class. The grade will be based on the project, class
attendance and participation (including homework assignments). <br />
<br />

The last class will be on 12/??/2021
and you will present your project in class -- this will serve as a
"final exam". The report on your final project is due </span><span
style="font-weight: bold;"><span style="font-weight: bold;">by ??? 12/??/2021</span> and is to be submitted electronically.<br />

As a first assignment, please submit the answers to this <span style="font-weight: bold;">questionnaire</span>
<a href="mailto:donev@courant.nyu.edu">via email</a> as soon as
possible: <br />
<ol>
<li> Your name, degree you are working on (if any) and class/year,
  and thesis advisor and topic if any. </li>
<li> Are you taking this course for credit? <br />
</li>
<li> List your previous academic degrees or relevant educational
  experience. </li>
<li> Explain in words (e.g., relevant courses, prior research) your
  background in CFD, especially numerical analysis and PDE/physics
  experience with fluids equations. <br />
</li>
<li> Why did you choose this course, and which of the topics listed
  in the course description interest you most (in particular, do you
  know what subject you would like to present on in class)? </li>
<li> What is your programming experience (languages, level,
  parallelization, HPC)? </li>
 
