 <h3>Instructor</h3>
 <strong><a href="http://cims.nyu.edu/%7Edonev">Aleksandar Donev</a></strong>,
 1016 Warren Weaver Hall<br />
 E-mail: <a href="mailto:donev@courant.nyu.edu">donev@courant.nyu.edu</a><br />
 Office hours / extra sessions on zoom Fridays 12pm-1pm(ish) or by <a href="mailto:donev@cims.nyu.edu">appointment</a>

 <h4>Grader</h4>
 <strong>Sachin Nachin</strong> (netid <a href="mailto:srn324@nyu.edu"><em>srn324</em></a>).<br />
 
 <h3>Course description</h3>
 <p style="text-align: justify;"><span style="font-style: italic;">This
     course is a graduate-level introduction to practical introduction
     to computational problem solving, including both mathematical
     analysis of numerical algorithms (numerical analysis) and
     practical problem solving. This is not a programming course but
     programming in homework projects with Matlab or
     numerical/scientific Python is an important part of the course
     work.</span></p>
 <p>3 points per term</p>
 <p>Topics covered include:<span style="font-style: italic;"><br />
   </span></p>
 <ul>
   <li>floating point arithmetic, conditioning and stability</li>
   <li>direct methods for systems of linear equations</li>
   <li>matrix eigenvalue problems and SVD decomposition</li>
   <li>numerical interpolation, differentiation and integration</li>
   <li>nonlinear systems of equations and unconstrained optimization</li>
   <li>Fourier and wavelet transforms</li>
   <li>ordinary and partial differential equations</li>
   <li>Monte Carlo methods.</li>
 </ul>
 All materials related to this course, including lecture notes,
 homeworks, schedule, etc., will be posted here. Homework assignments
 submission and the exams will be handled via NYU Classes. Videos of my lectures
 as well as some example solutions of assignments will also be posted
 there.<br />


<h3>Prerequisites</h3>
 <p style="text-align: justify;">A solid background (undergraduate
   level) in multivariate calculus and linear algebra. Experience with
   writing computer programs (in Matlab, Python with numpy, Julia or other
   high-level language) is strongly recommended as homework assignments
   will involve programming from the start and you will be expected to
   catch up on your own (summer break is a good time to learn
   programming!).</p>
 <p style="text-align: justify;">Prior knowledge of Matlab is not
   required, but it will be used as the main language for the course
   right away from the start so you will need to catch up on your own.
   If you have experience with other languages (Fortran, C, C++,
   Python), Matlab will be easy to learn and use, and comes with a
   great help facility. Please look at some of the "Additional
   Readings" above for programming guides.</p>

 <h3 style="text-align: justify;">Assignments and grading</h3>
 <p style="text-align: justify;">There will be regular (biweekly) <span style="font-style: italic;">challenging</span>
   assignments. The assignments will be mostly
   computational. You will be expected to submit a PDF of your
   solutions as a report with figures and equations and explanations.
   The grade will be (TBD!) ~50% based on assignments and ~50% on a final exam or project.
 <a href="http://www.nyu.edu/about/policies-guidelines-compliance/policies-and-guidelines/academic-integrity-for-students-at-nyu.html">Academic integrity policies</a> will be strictly enforced for homework
 assignments. In particular, group work on assignments is <b>not allowed</b> and will be treated as a violation of academic
 integrity, but group discussions via CampusWire to get some ideas or clarifications or to get unstuck are OK. You will work together on assignments in groups after you submit your own solutions; this ensures that everyone spends time with the assignment on their own first and writes their (initial) code by themselves.<br />
