


 


 <h3>Communication</h3>
 <p style="text-align: justify;">
   We will try CampusWire for communication,
   and we will use github for sharing files and group work on assignments.
   The NYU Classes webpage will be used
   for important messages/announcements,
   as well as material that is <b>for your personal use only</b> such
   as sample solutions of past assignments. If you register for the
   class, you automatically have access. All course materials including
   lecture notes and assignments will be posted on this site as they
   become available.</p>
 <p style="text-align: justify;">You should feel free to <a href="mailto:donev@cims.nyu.edu">email
     the instructor</a> with any questions, concerns, or special
   requests such as deadline extensions, meeting outside of office
   hours, etc.</p>
   
